<span class="elastic-term">
  <select data-ng-model="rule.subType" class="form-control">
    <!-- Term Options -->
    <optgroup label="{{'angularQueryBuilder.optGroupText' | translate}}">
      <option value="equals">{{'angularQueryBuilder.equals' | translate}}</option>
      <option value="notEquals">! {{'angularQueryBuilder.equals' | translate}}</option>
    </optgroup>

    <!-- Generic Options -->
    <optgroup label="{{'angularQueryBuilder.optGroupGeneric' | translate}}">
      <option value="exists">{{'angularQueryBuilder.exists' | translate}}</option>
      <option value="notExists">! {{'angularQueryBuilder.exists' | translate}}</option>
    </optgroup>

  </select>
  <input
    data-ng-if="inputNeeded()"
    class="form-control"
    data-ng-model="rule.value"
    type="text">
</span>
