<div class="elastic-builder-group">
  <h5>If
    <select data-ng-model="group.subType" class="form-control">
      <option value="and">{{'angularQueryBuilder.all' | translate}}</option>
      <option value="or">{{'angularQueryBuilder.any' | translate}}</option>
    </select>
    {{'angularQueryBuilder.conditionsMet' | translate}}
  </h5>
  <div
    data-ng-repeat="rule in group.rules"
    data-elastic-builder-chooser="rule"
    data-elastic-fields="elasticFields"
    data-depth="{{ +depth + 1 }}"
    data-on-remove="removeChild($index)"></div>

  <div class="list-group-item actions" data-ng-class="getGroupClassName()">
    <a class="btn btn-xs btn-primary" title="{{'angularQueryBuilder.addFilter' | translate}}" data-ng-click="addRule()">
      <i class="fa fa-plus"></i> {{'angularQueryBuilder.addFilter' | translate}}
    </a>
    <a class="btn btn-xs btn-primary" title="{{'angularQueryBuilder.addGroup' | translate}}" data-ng-click="addGroup()">
      <i class="fa fa-list"></i> {{'angularQueryBuilder.addGroup' | translate}}
    </a>
  </div>

  <a class="btn btn-xs btn-danger remover" title="{{'angularQueryBuilder.removeFilter' | translate}}" data-ng-click="onRemove()">
    <i class="fa fa-minus"></i> {{'angularQueryBuilder.removeFilter' | translate}}
  </a>
</div>
